# Ignore build directories
/build/

# Ignore Flutter-specific files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Ignore IDE configuration files
.idea/
.vscode/
swiftpay

# Ignore OS-specific files
.DS_Store
Thumbs.db
